.body {
  align-items: center;
  /* background-image: url("https://static.wikia.nocookie.net/board-games-galore/images/4/47/Tictactoe-winning-vector-639732.jpg/revision/latest?cb=20160711013756");  */
  
}


h1 {
  color: rgb(58, 57, 106);
  margin-left: 625px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#board {
  margin-left: 600px;
  margin-top: 60px;
  text-align: center;
 
}

.row {
  display: flex;
}

.cell {
  background-color: rgb(58, 57, 106);
  font-size: 80px;
  color: rgb(145, 138, 169);
  width: 100px;
  height: 100px;
  border: 2px solid white;
  text-align: center;
  
}

#rstBtn {
  margin-left: 600px;
  margin-top: 60px;
  background-color: rgb(58, 57, 106);
  color: white;
  width: 80px;
  height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.winner {
  margin-left: 600px;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: rgb(66, 54, 108);
}
